<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite one" verbose="10">
   <test name="Test on IOS" preserve-order="true">
   <parameter name="device" value="iPhone" />
   	<parameter name="app" value="SwiftCinemas.app" />
    <classes>
      <class name="TestNavigations">
        <methods>
          <include name="pageObject"/>
        </methods>
      </class>
    </classes>
  </test>
</suite>
