<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite Android" verbose="10">

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>
 
		<parameter name="app" value="test.apk"  />

		<parameter name = "device" value = "Device1" />

	<test name="Test on Android" preserve-order="true">
		<parameter name="app" value="test.apk" />
		<parameter name = "device" value = "device" />

		<classes>
		    <class name="main.java.qa.android.test.java.PageObjectPatternTest">
				<methods>
				    <include name="pageObject" />
				</methods>
			</class>
		</classes>

	</test>	

</suite>